body{
    background-color: black;
    margin-left: 10px;
    display:flow-root;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: ;
    background-attachment: fixed;
    background-size: cover;
}

.box{
    border: 5px;
    font-size: 5em;
    width:250px;
    height:250px;
    box-shadow: 10px 3px 3px red , 15px 5px 3px blue;


}

#pseudo1:link{
    color:hsl(357, 73%, 45%);
}

#pseudo1:hover{
    color:hsl(103, 90%, 49%);
    font-size: 1.1em;
}

#pseudo1:active{
    color:hsl(237, 100%, 50%);
    font-size: 1.1em;
}

#hover p{
    background-color: blueviolet;
    padding:10px;
    display:none;
    border-bottom:2px double;
}

#hover:hover p{
   display:inline-block; 
}

.list:hover{
    color:coral;
}

.list:not(:hover){
    color:rgb(69, 1, 1);
}

.list:nth-child(3n+2){
    color:yellow;
}

#pseudo1:visited{
    color:hsl(369, 73%, 45%);
    font-size: 1em;
}

#pseudo1:visited:hover{
    color:hsl(297, 100%, 51%);
    font-size: 1em;
}

#container{
    border: 2px solid black;
    border-radius: 5px;
    
}

#container p{
    background-color: yellow;
}


#position{
    width:200px;
    height:200px;
    background-color: hsl(220, 95%, 57%);
    position:relative;
    top:0px;
    left:0px;
}


#position2{
    width:200px;
    height:190px;
    background-color: hsl(0, 95%, 57%);
    position:fixed;
    left:0px;
    top:10px;
    color:greenyellow;
}


#position3{
    width:200px;
    height:200px;
    background-color: hsl(59, 98%, 43%);
    position:sticky;
    right:0px;
    top:0px;
}


#position4{
    width:100px;
    height:100px;
    background-color: hsl(292, 95%, 51%);
    position:absolute;
    left:0px;
    top:0px;
}

#image1{
   float:left;
   margin-right:15px;
   margin-top:10px;
   margin-left:5px;
}

#image2{
    float:right;
    margin-left:10px;
      margin-right:20px;
      width:250;
  
}


#rickrollmargins{
    border: 3px solid white;
    overflow:auto;
}

.paragraphrickastley{
   color:white; 
   font-size: 16; 
}

#box1{
   background-color: red;
   margin-top:50px;

}

#box2{
   background-color: blue;
   margin-top: 50px; 
}

.azure {
    color: azure;
     border: 3px double blue;
        border-radius: 5px;
}

#h1{
    color:azure;
    font-family:"open sans",verdana, arial;
    font-weight: bold;
    text-shadow:3px 3px 2px red, -3px 3px 2px hsl(208, 69%, 50%);
    
}

#h2{
    color:azure;
      border: 3px double blue;
       border-radius: 5px;
    font-family: "lucida console","courier new";
}

#h3{
    color:azure;
   border: 3px double blue;
         border-radius: 5px;
}

#h4{
    color:azure;
      border: 3px double blue;
          border-radius: 5px;
}


.cyan {
    color: cyan;
}

.cya{
    font-style: italic;
    color:cyan;
}

.mark {
    background-color: chartreuse;
}

#wow{
    color: aqua;
    
}

#box1{
    
    width: 100;
    height:100;
    box-shadow:3px 3px 2px rgb(246, 239, 239), -3px 3px 2px hsl(208, 69%, 50%)
    background-color: rgba(180, 197, 197, 0.768);
}

.brown-bg {
    border-bottom: 3px solid hsl(36, 88%, 48%);
      background-color:brown; 
        border-radius: 5px;
        display:inline;
}

.chartreuse-bg {
    background-color: chartreuse;
     border-bottom: 3px solid hsl(123, 91%, 29%);
       border-radius: 5px; 
}

.aqua-bg {
    background-color: rgb(0, 55, 255);
}

.cadetblue-bg {
    background-color: cadetblue;
}

.brown-text {
    color: brown;
}

.blueviolet-text {
    color: blueviolet;
}

.cadetblue-text {
    color: cadetblue;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.black-bg {
    background-color: black;
}

.lightblue-bg {
    background-color: lightblue;
}

.aliceblue-bg {
    background-color: aliceblue;
}

.button-style {
    font-size: 25px;
    background-color: aqua;
    color: darkblue;
    border-radius: 10px;
}

.blueviolet-bg {
    background-color: blueviolet;
}

.footer-bg {
    background-color: rgb(49, 43, 226);
}
