body{
    background-color: black;
    margin-left: 10px;
    display:flow-root;
}

.box{
    border: 5px;
    font-size: 5em;
    width:250px;
    height:250px;
    box-shadow: 10px 3px 3px red , 15px 5px 3px blue;


}

#image1{
   float:left;
   margin-right:15px;
   margin-top:10px;
   margin-left:5px;
}

#image2{
    float:right;
    margin-left:10px;
      margin-right:20px;
      width:250;
  
}


#rickrollmargins{
    border: 3px solid white;
    overflow:auto;
}

.paragraphrickastley{
   color:white; 
   font-size: 16; 
}

#box1{
   background-color: red;
   margin-top:50px;

}

#box2{
   background-color: blue;
   margin-top: 50px; 
}

.azure {
    color: azure;
     border: 3px double blue;
        border-radius: 5px;
}

#h1{
    color:azure;
    font-family:"open sans",verdana, arial;
    font-weight: bold;
    text-shadow:3px 3px 2px red, -3px 3px 2px hsl(208, 69%, 50%);
    
}

#h2{
    color:azure;
      border: 3px double blue;
       border-radius: 5px;
    font-family: "lucida console","courier new";
}

#h3{
    color:azure;
   border: 3px double blue;
         border-radius: 5px;
}

#h4{
    color:azure;
      border: 3px double blue;
          border-radius: 5px;
}


.cyan {
    color: cyan;
}

.cya{
    font-style: italic;
    color:cyan;
}

.mark {
    background-color: chartreuse;
}

#wow{
    color: aqua;
    
}

#box1{
    
    width: 100;
    height:100;
    box-shadow:3px 3px 2px rgb(246, 239, 239), -3px 3px 2px hsl(208, 69%, 50%)
    background-color: rgba(180, 197, 197, 0.768);
}

.brown-bg {
    border-bottom: 3px solid hsl(36, 88%, 48%);
      background-color:brown; 
        border-radius: 5px;
        display:inline;
}

.chartreuse-bg {
    background-color: chartreuse;
     border-bottom: 3px solid hsl(123, 91%, 29%);
       border-radius: 5px; 
}

.aqua-bg {
    background-color: rgb(0, 55, 255);
}

.cadetblue-bg {
    background-color: cadetblue;
}

.brown-text {
    color: brown;
}

.blueviolet-text {
    color: blueviolet;
}

.cadetblue-text {
    color: cadetblue;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.black-bg {
    background-color: black;
}

.lightblue-bg {
    background-color: lightblue;
}

.aliceblue-bg {
    background-color: aliceblue;
}

.button-style {
    font-size: 25px;
    background-color: aqua;
    color: darkblue;
    border-radius: 10px;
}

.blueviolet-bg {
    background-color: blueviolet;
}

.footer-bg {
    background-color: rgb(49, 43, 226);
}
